abbr {
  text-decoration: none; }

.field,
.label,
.input,
button {
  display: block; }

#content,
canvas {
  width: 256px;
  height: 240px; }
  canvas img {
    width: 256px;
    height: 224px;
    margin: 8px 0; }

#content {
  background: black; }
canvas {
  background: transparent; }
canvas[data-paused] {
  opacity: 0.5; }
