abbr {
  text-decoration: none; }

.field,
.label,
.input,
button {
  display: block; }

canvas,
#content {
  width: 256px;
  height: 256px; }
#content {
  background: black; }
canvas {
  background: transparent; }
canvas[data-paused] {
  opacity: 0.5; }
